/* COLOR SHADES */

/*

BACKGROUND: #383838
LIGHTER: #165587 
LIGHTEST: #377eff

*/

/* PRIMARY ELEMENTS */

body {
	background: #383838 url(../../images/skin/footer-dark.png) 0 bottom repeat-x;
}

#wrapper {
	background: #383838 url(../../images/skin/diag2-dark.jpg) center 0 no-repeat;
}

/* CLASSES */

.highlight {
	color: #165587;
}

/* TYPOGRAPHY */

a,
h2 a:hover,
.nav-entries a:hover,
#sidebar li a:hover {
	color: #377eff;
}

a:hover {
	color: #383838;
}

/* COPYRIGHT */

#copyright .menu a:hover {
	color: #165587;
}