/* COLOR SHADES */

/*

BACKGROUND: #254306
LIGHTER: #4d8b0e 
LIGHTEST: #5eb108

*/

/* PRIMARY ELEMENTS */

body {
	background: #254306 url(../../images/skin/footer-green.png) 0 bottom repeat-x;
}

#wrapper {
	background: #254306 url(../../images/skin/glass-green.jpg) center 0 no-repeat;
}

/* CLASSES */

.highlight {
	color: #4d8b0e;
}

/* TYPOGRAPHY */

a,
h2 a:hover,
.nav-entries a:hover,
#sidebar li a:hover {
	color: #5eb108;
}

a:hover {
	color: #254306;
}

/* COPYRIGHT */

#copyright .menu a:hover {
	color: #4d8b0e;
}