/* COLOR SHADES */

/*

BACKGROUND: #0d306f
LIGHTER: #165587 
LIGHTEST: #377eff

*/

/* PRIMARY ELEMENTS */

body {
	background: #0d306f url(../../images/skin/footer-blue.png) 0 bottom repeat-x;
}

#wrapper {
	background: #0d306f url(../../images/skin/vintage-blue.jpg) center 0 no-repeat;
}

/* CLASSES */

.highlight {
	color: #165587;
}

/* TYPOGRAPHY */

a,
h2 a:hover,
.nav-entries a:hover,
#sidebar li a:hover {
	color: #377eff;
}

a:hover {
	color: #0d306f;
}

/* COPYRIGHT */

#copyright .menu a:hover {
	color: #165587;
}