/* COLOR SHADES */

/*

BACKGROUND: #577f98
LIGHTER: #165587 
LIGHTEST: #377eff

*/

/* PRIMARY ELEMENTS */

body {
	background: #577f98 url(../../images/skin/footer-light-blue.png) 0 bottom repeat-x;
}

#wrapper {
	background: #577f98 url(../../images/skin/vert-light-blue.jpg) center 0 no-repeat;
}

/* CLASSES */

.highlight {
	color: #165587;
}

/* TYPOGRAPHY */

a,
h2 a:hover,
.nav-entries a:hover,
#sidebar li a:hover {
	color: #377eff;
}

a:hover {
	color: #577f98;
}

/* COPYRIGHT */

#copyright .menu a:hover {
	color: #165587;
}