body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 10pt; line-height: 14pt; color: #000000; text-align: center; margin: 0pt; background: none;
}


td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

h1 {font-size: 12pt; font-weight: bold; line-height: 14pt; }

a {text-decoration: none; color: #000000;}

.jqueryslidemenu{visibility:hidden;}

 #header .goGreen {visibility:hidden;}
#header img.recycle {visibility:hidden;}
 #header .topLnk {visibility:hidden;}

#logoWeb {visibility: hidden; display: none;}
#logoPrnt {visibility: visible; display: inline;}

#toplinks {display: none; visibility: hidden; }
#container {
  margin: 0 auto;
  width: 746px;
  text-align: left;
  }
/* These are header styles */  
#header { position: relative;border-bottom: 1pt #000000 solid; width: 675px; height: 80pt; }
#header img {margin-top: 20pt; }
/*#hdrRule {border-bottom: 1pt #000000 solid; width: 100%; visibility: visible; }*/
 
#headerRt, #topImg, #pageTitle, #pageTitle img, #main img {display: none; visibility: hidden;}
 
#main {width: 675px; background:none; position: relative; z-index: 1; }
#main object { display: none; visibility: hidden;}
#main .left {margin: 0pt; width: auto; background-color: #ffffff;position: relative; display: inline; top: 0pt; }
*html #main .left {margin: 0pt; background-color: #ffffff;position: relative; display: inline; top: 0pt; }
#main .right {display: none; visibility: hidden;}
 /*#main .left img {margin-top: 15px; margin-left: 10px; width: 323px;}*/
#topTitle {font-size: 14pt; font-weight: bold; color: #000000; margin-top: 0pt; }
*html #topTitle {font-size: 14pt; font-weight: bold; color: #000000; margin-top: 15pt; }

#topTitle2 {font-size: 14pt; font-weight: bold; color: #000000; position: relative; display: inline; visibility: visible;}
*html #topTitle2 {font-size: 14pt; font-weight: bold; color: #000000; visibility: visible; margin-top: 0pt; position: relative; line-height: 20pt; display: block;}



#navholder, #nav, #prevNext {display: none; visibility: hidden;}
*html #navholder {display: none; visibility: hidden;}

#footer {float: left; margin: 0pt; width: 100%; font-size: 9pt; color: #000000; text-align: center; margin-top:0pt; margin-bottom: 5pt; clear: left; padding: 8pt 0pt 0pt 0pt; background: none; border-top: 1pt #000000 solid; width: 100%; line-height: 10pt; }
 #footer p {text-align: center; }
 #footer a:link, #footer a:visited { display: none; visibility: hidden;}
#footer a:hover{ display: none;}
* html  #footer {margin-top: 0px; height:auto;}

p.footerNav {display: none; visibility: hidden; }

/*#footerRule {border-bottom: 1pt #000000 solid; width: 100%; position: relative;}*/

/*second level page content area */

#fullcontent {background:none; /*height: 344px;*/ position: relative; display: inline; padding: 0pt; margin: 0;}
#fullcontent a {color: #000000; text-decoration: none;}

* html #fullcontent {margin: 0pt;}

/* Form styles */

  
fieldset
{
width: auto; border: none;  margin-left: -10px;
}

label
{
float: left;
text-align: right;
display: block; width: 18%; margin-left: 0px;
}

.labelRt {
float: right;
text-align: left;
display: inline; width: auto; margin-right: 400px; position: relative; margin-top: -34px;
}
* html .labelRt { margin-top: -24px; }


input
{
color: #000000;
background: #fee3ad; margin-left: 4px;
}

textarea
{
color: #000000;
background: #fee3ad; height: 80px; width: 250px; margin-left: 4px;
}

input.submit
{
color: #fff;
background: #656565; font-size: 10px; font-weight: bold; width: auto;
}

.submitAlign {margin-left: 130px; }

.required {color: #990000; font-weight: bold; }

 /* End form styles */
 
 /* Contact top portion */
 
 #contTop {width: 200px; text-align: left; }
 
.contHdr {font-weight: bold; font-size: 12px; }

/* End Contact top portion styles */

/* Styles for logos in Resources section */

.resLogos {float: left; display: block; position: relative; margin-left: -3px; width: 100%;}
* html .resLogos {margin-left: -1px;}

.siteLogo {margin-top: 0px;}

/* End styles for logos in Resources section */

/* Styles for Map Image */

#locationMap {float: right; display: block; position: relative; margin-top: 20px; }
#locationMap .caption {position: relative; float: left; }

/* End styles for Map image */

/* Styles for People page */

.names {font-size: 12px; font-weight: bold; }
.peoplePhoto {padding: -5px 5px 8px 0px; position: relative; display: block; right: 5px; top: -2px;}
.bio, .mapPg, .leftCol {float: left; position: relative; right: 0px; padding-bottom: 10px;}
.careerPhoto { padding: -5px 0px 8px 0px; position: relative; display: block; right: 0px; top: -2px; float: right; margin-bottom: 10px;}


.peopleLeft {float: left; width: 45%; margin-right: 0px; padding-bottom: 15px;}
.peopleRight {float: left; width: 45%; position: absolute; right: 10px;}

h2 {font-size: 12px; font-weight: bold; border-bottom: #656565 1px solid; width: 100%; }

/*Styles for Map page */

.mapRight {float: left; width: 400px; position: absolute; right: 10px; font-size: 8pt; line-height: 9pt;}

.mapCaption {position: relative; display: block; clear: both; }

.rightCol {float: left; width: 350px; /*position: absolute;*/ margin: 20px 0px 0px 20px; padding-bottom: 20px;}
.rightColGal {float: left; width: 350px; /*position: absolute;*/ right: 20px; border-left: 1px solid #656565; margin: 58px 10px 10px 10px; padding-left: 10px; height: 275px;}
* html .rightColGal {margin: 66px 10px 10px 10px; }

.rightImg {float: right; padding: 0px 10px 10px 10px; }

.leftImg {float: left; padding: 0px 10px 10px 0px; }

.applicationRule {width: 80%; margin-left: 0px;}

#main .bio img {padding: 0px 10px 10px 10px; visibility: visible; display: block; position: relative; clear: both;}
.bio {position: relative; right: 0px; padding-bottom: 10px; font-size: 8pt; line-height: 9pt;}
.names {font-size: 9pt; line-height: 10pt;}

/*.peopleLeft {width: 40%;}
*html .peopleLeft {width: 35%;}*/

.indentApp {margin-left: 10px; }

.pdfTxt {font-size: 9px; }

/* These lists are for the locations page */

#officeLst ul {list-style-type:decimal;}
#officeLst li {padding-left: 0px; margin-left: -15px; left: -15px;}
#plantLst ul {list-style-type:upper-alpha;}
#plantLst li {padding-left: 0px; margin-left: -15px; left: -15px;}
p.spc {line-height: 10px;}

#main .rightImg img {padding: 0px 10px 10px 10px; visibility: visible; display: block; position: relative; }

#main .leftImg img {padding: 0px 10px 10px 0px; visibility: visible; display: inline;}

#main .mapRight img {display: inline; visibility: visible; position: relative; width: 390px; }
.mapPg {width: 200pt;}

#main .rightCol img {padding: 0px 10px 10px 10px; visibility: visible; display: block; position: relative; }
#main .resLogos img {padding: 0pt 10pt 10pt 0pt; visibility: visible; display: block; position: relative; }
*html #main .resLogos img {padding: 0pt 10pt 10pt 0pt; visibility: visible; display: block; position: relative; margin: 0pt; }

/* These styles are for the site map */
/*#sitemap {margin-left: 0px}
#sitemap ul {list-style-type:none;}
#sitemap li {background:url(../images/orange_arrow.gif) no-repeat 0px 0px; padding: 0px 0px 0px 15px; margin: 0px 0px 0px -10px;}
#sitemap ul li ul li {background:url(../images/orange_line.gif) no-repeat 0px 0px; padding: 0px 0px 0px 15px; margin: 0px 0px 0px -10px;}*/

.sitemap {margin-left: 0px; position: relative; margin-top: 0px; }
*html .sitemap {margin-left: 0px; margin-top: 0px; display: inline;}

.sitemap ul {list-style: none; margin-left: -38px;}
.sitemap ul li {background:url("../images/orange_arrow.gif") no-repeat 0px 5px; padding-left: 15px; line-height: 20px; margin-left: 0px;}
*html .sitemap ul li {background:url("../images/orange_arrow.gif") no-repeat 0px 5px; padding-left: 15px; line-height: 20px; margin-left: 40px;}
.sitemap ul ul li {margin-left: 0px; background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 11px; line-height: 20px;}
* html .sitemap ul ul li {margin-left: 0px; background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 11px; line-height: 20px; margin-left: 40px;}

.sitemap ul ul ul li {background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 11px; line-height: 20px; margin-left: 0px; }
* html .sitemap ul ul ul li {background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 11px; line-height: 20px; margin-left: 38px; }

.sitemap ul ul ul ul li {background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 10px; line-height: 20px; margin-left: 0px; }
* html .sitemap ul ul ul ul li {background:url("../images/orange_line.gif") no-repeat 0px 9px; padding-left: 10px; line-height: 20px; margin-left: 38px; }

/* These styles are for the forms */

input, textarea {background: none; margin-left: 15pt;}
input.submit {display: none; visibility: hidden; }
textarea {height: 40px; }
form {margin: 7pt;}
label {width: 25%;}
.labelRt {margin: -27pt 155pt 0pt 0pt; display: inline; position: relative; width: 20%;}
*html .labelRt {margin: -32pt 155pt 0pt 0pt; display: inline; position: relative; width: 20%;}
.applicationRule {visibility: hidden; display: none;}


/*.sitemap a {color: #a0410d;}*/

/* These styles are so the photos print on the News - Anniversary section */
#photoCont img {display: inline; visibility: visible; }
#photoCont {font-size: 9pt; margin: 0pt; position: relative;}
#photoCont ul li {margin-right: 10pt; width: 300px;}

/* These styles are for the Photo Galleries */
.rightColGal {float: left; width: 300px; /*position: absolute;*/ right: 20px; border: none; margin: 0px 10px 10px 10px; padding-left: 10px; height: 275px;}
*html .rightColGal {float: left; width: 300px; /*position: absolute;*/ right: 20px; border: none; margin: -1px 10px 10px 10px; padding-left: 10px; height: 275px;}